* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* to be able to size with %, we need a reference */
html {
  height: 100%;
  width: 100%;
}
body { 
  font: 13px Helvetica, Arial;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.app {
  height: 100%;
  width: 75%;
  border: 1px solid rgba(0,0,0,.08);
}
