.postslist {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.postslist__list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.postslist__list__item {
  /* this is needed for having messsage with variable width 
  as the flex item, the message, will be handled by flex along
  the right axis (horizontal, row) */
  position: relative;
  display: flex;
}
.postslist__list__item__message {
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 50%;
  /* this is needed to convert textarea input \n to 
  HTML standard \r\n */
  white-space: pre-line;
}
.postslist__list__item__message__header {
  position: relative;
  color: #35cd96;
}
.postslist__list__item__message__content {
  margin-top: 5px;
  position: relative;
  word-break: break-all;
}