.postform {
  display: flex;
  justify-content: center;
  width: 90%;
}
.postform__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%; 
}
.postform__form__input {
  position: relative;
  border-radius: 18px;
  padding: 10px;
}