.userslist {
  position: relative;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.userslist__header {
  position: relative;
  min-height: 5%;
  background-color: rgb(18, 140, 126);
  color: white;
  border-bottom: 1px solid rgba(0,0,0,.08);
  display: flex;
}
.userslist__content {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.userslist__content__item {
  /* this is needed for having messsage with variable width 
  as the flex item, the message, will be handled by flex along
  the right axis (horizontal, row) */
  position: relative;
  display: flex;
  height: 72px;
}
.userslist__content__item__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.userslist__content__item__left__icon {
  position: relative;
  display: flex;
  width: 49px;
  height: 49px;
}
.userslist__content__item__right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
}
.userslist__content__item__right__user {
  position: relative;
  display: flex;
  font-weight: 400;
  font-size: 17px;
}
